[submodule "formulas/haproxy-formula"]
	path = formulas/haproxy-formula
	url = https://github.com/saltstack-formulas/haproxy-formula.git
[submodule "formulas/node-formula"]
	path = formulas/node-formula
	url = https://github.com/saltstack-formulas/node-formula.git
[submodule "formulas/letsencrypt-formula"]
	path = formulas/letsencrypt-formula
	url = https://github.com/saltstack-formulas/letsencrypt-formula.git
[submodule "formulas/jenkins-formula"]
	path = formulas/jenkins-formula
	url = https://github.com/saltstack-formulas/jenkins-formula.git
[submodule "formulas/nexus-formula"]
	path = formulas/nexus-formula
	url = git@github.com:Modulus/nexus-formula.git
[submodule "formulas/sun-java-formula"]
	path = formulas/sun-java-formula
	url = https://github.com/saltstack-formulas/sun-java-formula.git
